.env
temp_*
*.log
*.bak

# Ignore all directories in the root
/*/

# But do not ignore the localhost directory
!/localhost/

# And ignore subdirectories of localhost
localhost/*/
# Ignore all Markdown files
*.md
!README.md

# Ignore timestamped backups
*_202[0-9]*
