/* Dropdown Menu Styles */
.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item button {
    background-color: #005a9c;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.menu-item:hover > button {
    background-color: #00487a;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 7px 0;
    min-width: 180px;
}

.dropdown-menu li {
    padding: 8px 20px;
    cursor: pointer;
}

.dropdown-menu li span {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-menu li:hover {
    background-color: #007bff;
    color: #fff;
}
.dropdown-menu li:hover span,
#speaker-submenu li span {
    color: #333;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover span {
    background-color: #007bff;
    color: #fff;
}


.menu-item.menu-open > .dropdown-menu {
    display: block;
}

/* Nested Submenus */
.menu-item .menu-item:hover > .dropdown-menu {
    display: block;
    left: 100%;
    top: -8px; /* Align with parent item */
}

.disabled {
    color: #d3d3d3 !important;
    pointer-events: none;
    cursor: not-allowed;
}

#current-selection {
    background-color: #b3d4fc; /* Light blue highlight */
}

.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

.icon-button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0;
}

.icon-button:hover {
    background-color: #f0f0f0;
}

.icon-button svg {
    width: 20px;
    height: 20px;
    fill: #333;
}

#viewer-menu {
  margin-right: 3.0rem;  
}

